* {
    font-family: Roboto, sans-serif;
    text-align: center;
    background-color: aquamarine;
}

#calc-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    aspect-ratio: 1/1;
    max-width: 400px;
    padding: 16px;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 16px;
    background-color: yellow;
}

#display-container {
    max-height: 25%;
    border: 2px solid black;
    margin: 4px 4px 10px 4px;
    flex: 1 1 auto;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: white;
}

#display {
    font-size: 35px;
    margin: 0 12px;
    background-color: white;
}

button {
    transition-duration: 0.2s;
    box-shadow: 0 4px gray;
}

button:hover {
    opacity: 0.7;
}

button:active {
    box-shadow: 0 1px gray;
    transform: translateY(3px);
  }

.row-container {
    background-color: yellow;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex: 1 1 auto;
}

.box {
    font-size: 30px;
    border-radius: 8px;   
    width: 25%;
    flex: 1 1 auto;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 8px 4px;
}

.long {
    max-width: 50%;
}

.numpad {
    background-color: lightblue;
}

.clear {
    background-color: orange;
}

.operator {
    background-color: bisque;
}

#error-showcase {
    margin: 8px;
    color: darkred;
}
