* {
    font-family: Roboto, sans-serif;
    text-align: center;
    background-color: aquamarine;
}

#calc-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    aspect-ratio: 1/1;
    max-width: 400px;
    padding: 16px;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 16px;
    background-color: yellow;
}

#display-container {
    max-height: 20%;
    border: 2px solid black;
    margin: 2px 2px 14px 2px;
    flex: 1 1 auto;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: white;
}

#display {
    font-size: 36px;
    margin: 0 12px;
    background-color: white;
}

.row-container {
    background-color: yellow;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex: 1 1 auto;
}

.box {
    font-size: 30px;
    border-radius: 8px;   
    width: 25%;
    flex: 1 1 auto;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 2px;
}

.long {
    max-width: 50%;
}

.numpad {
    background-color: lightblue;
}

.clear {
    background-color: orange;
}

.operator {
    background-color: bisque;
}

#error-showcase {
    margin: 8px;
    color: darkred;
}
