* {
    font-family: Roboto, sans-serif;
    text-align: center;
}

#calc-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    aspect-ratio: 1/1;
    max-width: 600px;
    padding: 8px;
    margin: 0 auto;
    border: 2px solid black;

}

#display-container {
    max-height: 15%;
    border: 2px solid black;
    margin: 8px;
    flex: 1 1 auto;
    display: flex;
    justify-content: end;
    align-items: center;
}

#display {
    font-size: 60px;
    margin: 0 24px;
}

.row-container {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex: 1 1 auto;
}

.box {
    font-size: 24px;   
    max-width: 17.3%;
    flex: 1 1 auto;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 8px;
}

.long {
    max-width: 40%;
}

